.bookInput {
  width: 38rem;
  height: 2.5rem;
  outline: none;
}

.bookInput:focus {
  outline: none;
}

.author,
.action {
  color: #5aa8ee;
}

.bookInfo {
  width: 30%;
}

.progressBar {
  width: 180px;
  height: 180px;
}

.updateProgress,
.add-book,
.check-progress {
  background-color: #0290ff;
}

.add-book {
  width: 7rem;
}

.web-title {
  color: #0290ff;
}

.account-icon {
  color: #0290ff;
  height: 30px;
  width: 30px;
}

.gray-bar {
  height: 3px;
}

.categories {
  width: 15rem;
}

.check-progress:focus,
.updateProgress:focus {
  background-color: #0290ff;
}

.updateProgress:hover,
.add-book:hover,
.check-progress:hover {
  background-color: #0290ff;
}

.arrow {
  height: 8rem;
}
